@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,600,700|Noto+Serif+KR:300,400|Pacifico&display=swap&subset=korean');

*{margin: 0; padding: 0; box-sizing: border-box; border: 0px solid #f00;}
a {color:inherit; text-decoration: none; }
ol, ul {list-style-type: none;}
table {width: 100%; border-collapse:collapse; table-layout: fixed;}
.cf:after, .cf:before {content: ""; display: block; clear: both;}
header, section {display: block;}
html { height:100%; }

body { font-family:"Malgun Gothic", "맑은 고딕", sans-serif; font-size:16px; color:#444; height:100%;
  letter-spacing:-1px }
.row { max-width:1050px; margin:0 auto }

/* 시작 */
.openMOgnb, .closeMOgnb { display:none }
#wrap { position:relative }
#header {  background:rgba(0,0,0,0.5); color:#fff; 
  position:absolute;  height:116px; width: 100%; 
  top:0;  left:0; z-index:99999  }
#header  h1  {float:left; padding:45px 0 0;}
#header  h1 a { 
  display:block;
  /* 박스크기보다 로고 배경이미지 크기가 크면 
    background-size:contain 값으로 조절함
  */
  text-indent:-9999px; overflow:hidden; }

#header .header_cont { float:right; width:780px }

.depth1 { text-align:right;  }
.depth1 > li { display:inline-block; 
  font-size:25px; color:#fff;  padding:30px 40px 43px}
.depth1 > li:last-child { padding-right:0px }

.dep2box { position:absolute; left:0; width:100%; 
  background:#0099ff; z-index:100;
  top:116px; display:none;  text-align:left; 
  font-size: 16px;
  opacity: 0.7;}
/* .depth1 > li:hover  .dep2box { display:block } */
.depth2 > li { display:inline-block; padding:15px  }
.depth1 > li:nth-child(1)  .depth2 { 
  padding-left:440px }
.depth1 > li:nth-child(2)  .depth2 { padding-left:560px }
.depth1 > li:nth-child(3)  .depth2 { padding-left:700px }
.depth1 > li:nth-child(4)  .depth2 { padding-left:930px }
.depth1 > li:nth-child(4)  .depth2 > li { padding-right:0 }

/* CONTAINER 시작 */
/* 슬라이드 박스 */
.slide {  background-repeat:no-repeat;
background-size:cover; height:950px;  
background-position:center; position:relative }
.slide1 { 
  background-image:url(../img/slider2.jpg); 
  width:80%;
  height: 705px;
  position:absolute; top:50%; left:50%; 
  transform:translate(-50%, -50%); 
}
.slide  .text {
  position:absolute; top:50%; left:50%; 
  transform:translate(-50%, -50%); 
  color:#fff;  text-align:center; 
}
.slide  .text  p:nth-child(1) { font-size:45px;
   letter-spacing:0px; text-shadow:2px 2px 5px #555; 
  border-bottom:1px solid #999; padding-bottom:10px;
  font-family: normal; }
.slide  .text  p:nth-child(2) { font-size:20px;
  letter-spacing:6px; margin-top:20px 
}
.slide  .text  p:nth-child(3) { font-size:20px; 
  letter-spacing:3px; position:relative; top:150px; }
/* .slide2,  .slide3 { display:none } * 제이쿼리소스로할거라서 주석처리*/








  .blind {
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

.closeMOgnb {display:none;}
.openMOgnb {display: none;}

/* 사진을 누르면 새로 창나오는 팝업박스 만들기 */
.popupBox {display: none;}
/* 팝업박스에 on이 붙으면 출력됨 */
.popupBox.on {
  display: block;
  position: absolute;
  top:0;
  left: 0;
  height: 200%;
  right: 0;
  z-index: 999999999999999999999;
}
.popupBox.on .inner {
  position: absolute;
  top:1000px;
  left: 50%;
  transform: translate(-50%);
  background: #ff889e;
  text-align: center;
  padding: 20px;
}
.popupBox.on button {
  font-size: 40px;
  color:#ff889e;
  position: absolute;
  top:-35px;
  right: -35px;
  background: none;
  border: none;
}

/* 사진을 누르면 새로 창나오는 팝업박스2 만들기 */
.popupBox2 {display: none;}
/* 팝업박스에 on이 붙으면 출력됨 */
.popupBox2.on {
  display: block;
  position: absolute;
  top:0;
  left: 0;
  height: 200%;
  right: 0;
  z-index: 999999999999999999999;
}
.popupBox2.on .inner {
  position: absolute;
  top:1520px;
  left: 50%;
  transform: translate(-50%);
  background: #ff889e;
  text-align: center;
  padding: 20px;
}
.popupBox2.on button {
  font-size: 40px;
  color:#ff889e;
  position: absolute;
  top:-35px;
  right: -35px;
  background: none;
  border: none;
}
