@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,600,700|Noto+Serif+KR:300,400|Pacifico&display=swap&subset=korean');

*{margin: 0; padding: 0; box-sizing: border-box; border: 0px solid #f00;}
a {color:inherit; text-decoration: none; }
ol, ul {list-style-type: none;}
table {width: 100%; border-collapse:collapse; table-layout: fixed;}
.cf:after, .cf:before {content: ""; display: block; clear: both;}
header, section {display: block;}
html { height:100%; }

body { font-family:"Malgun Gothic", "맑은 고딕", sans-serif; font-size:16px; color:#444; height:100%;
  letter-spacing:-1px }
.row { max-width:1200px; margin:0 auto }

/* 시작 */
.openMOgnb, .closeMOgnb { display:none }
#header {  background:rgba(0,0,0,0.5); color:#fff; 
  height:116px; width: 100%; 
  top:0;  left:0; z-index:99999; position:relative;}
  #header  h1  {float:left;font-family: 'Pacifico';
    font-size:25px; color:#fff;  padding:30px 0px 40px;
    letter-spacing: 5px; }
#header .header_cont { float:right; width:600px;}
#header .header_area img {width:300px}

.depth1 { text-align:right;  font-family: 'Pacifico';}
.depth1 > li { display:inline-block; 
  font-size:25px; color:#fff;  padding:30px 40px 43px;}
.depth1 > li:last-child { padding-right:0px }

.dep2box { position:absolute; left:0; width:100%; 
  background:#a9c400; z-index:100;
  top:116px; display:none;  text-align:left; 
  font-size: 16px; }
/* .depth1 > li:hover  .dep2box { display:block } */
.depth2 > li { display:inline-block; padding:15px;  color:#fff;}
.depth1 > li:nth-child(1)  .depth2 { 
  padding-left:0px }
.depth1 > li:nth-child(2)  .depth2 { padding-left:750px }
.depth1 > li:nth-child(3)  .depth2 { padding-left:890px }
.depth1 > li:nth-child(4)  .depth2 { padding-left:1120px }
.depth1 > li:nth-child(4)  .depth2 > li { padding-right:0 }






/* CONTAINER 시작 */
/* 인트로 메인박스 */
.slide {  background-repeat:no-repeat;
background-size:cover; height:950px;  
background-position:center; position:relative; 
overflow: hidden;}
.slide1 { 
  background-image:url(../img/slider2.jpg); 
  width:80%;
  margin: 0 auto;
  height: 750px;
  opacity: 0.8;
  /* position:absolute; top:50%; left:50%; 
  transform:translate(-50%, -50%);  */
}
.slide  .text {
  position: relative; top:50%; left:50%; 
  transform:translate(-50%, -50%); 
  color:#fff;  text-align:left; 
  padding: 20px;
}
.slide  .text  p:nth-child(1) { font-size:60px;
  text-shadow:2px 2px 5px rgb(167, 167, 167); 
  color:#a9c400;
 }
.slide  .text  p:nth-child(2) { font-size:80px;
  letter-spacing:0px; text-shadow:2px 2px 5px rgb(167, 167, 167); 
 }
 .slide  .text  p:nth-child(3) { font-size:80px;
  letter-spacing:0px; text-shadow:2px 2px 5px rgb(167, 167, 167); 
 }
.slide  .text  p:nth-child(4) { font-size:18px; 
  top:180px; color:#000; text-align: left; position: relative;}
.slide  .text  p:nth-child(5) { font-size:18px; 
  top:180px; color:#000;  text-align: left; position: relative;}
.slide  .text  p:nth-child(6) { font-size:18px; 
 top:180px; color:#000; text-align: left; position: relative;}
/* .slide2,  .slide3 { display:none } * 제이쿼리소스로할거라서 주석처리*/

/* 인트로에 텍스트애니메이션 효과주기 */
.slide .text p:nth-child(2) { 
  animation: bounceInDown 1s both 0.5s;}
.slide .text p:nth-child(3) { 
  animation: bounceInUp 1s both 1s;}
.slide .text p:nth-child(4) { 
  animation: fadeInRight 1s both 1.5s;}
.slide .text p:nth-child(5) { 
    animation: fadeInRight 1s both 1.5s;}
.slide .text p:nth-child(6) { 
    animation: fadeInRight 1s both 1.5s;}

/* 어바웃시작 */
.about .about_b {
  margin-top: 70px;
  height: 800px;
  background: #e6eeb3;
  }
/* 어바웃 왼쪽에 사진넣기 */
.about_left  {
  float: left;
  width:calc(70% - 200px);
  -webkit-transform: translate3d(-200%, 0, 0);
  transform: translate3d(-200%, 0, 0);
}
.about_left img {
  margin-top:110px;
  margin-left: 200px;
  opacity: 0.7;
}
.about.on .about_left {
animation: fadeInLeft 1s both 1s; }

/* 어바웃 인박스 첫번째 */
.about {overflow: hidden;}
.about .inbox{
  float: right;
  margin-top:75px;
  margin-right: 200px;
  border: 1px solid #999;
  padding:37px;
  background: #fff;
  border-radius: 50px; 
  -webkit-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
  width:30%;
}
.about.on .inbox {
  animation: fadeInRight 1s both 0.5s;
}
.about .inbox h4 {
  font-family: 'Pacifico';
  font-size: 45px;
  letter-spacing: 2px;
  padding-bottom: 10px;
  text-align: right;
  color:#a9c400;
}
.about .inbox p {
  font-size: 18px;
  text-align: right;
  color:#999;
}
/* 어바웃 인박스 두번째 */
.about .inbox2 h4 {
  font-family: 'Pacifico';
  font-size: 30px;
  letter-spacing: 2px;
  padding-top:50px;
  padding-bottom: 10px;
  text-align: right;
  color:#999;
}
.about .inbox2 p {
  font-size: 16px;
  text-align: right;
}
/* 어바웃 인박스 세번째 */
.about .inbox3 h4 {
  font-family: 'Pacifico';
  font-size: 30px;
  color:#999;
  letter-spacing: 2px;
  padding-top:50px;
  padding-bottom: 10px;
  text-align: right;
}
.about .inbox3 p {
  font-size: 16px;
  text-align: right;
}

/* 서브슬라이드10개시작 */
.multi_rolling {
  padding: 50px 0px;
  position: relative;
}
.multi_rolling h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  color:#a9c400;
}
.multi_rolling img {
  width:100%;
  padding: 0 5px;
}
/* 서브슬라이드 양쪽화살표버튼 스타일잡기 */ 
.multi_rolling .marrow {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 50px;
  color:#a9c400;
}
.multi_rolling .prevArrow { left: -40px; z-index: 99999999;}
.multi_rolling .nextArrow {right: -40px;}

/* 서브슬라이드 슬릭->슬라이드 번호버튼 스타일잡기 */
.multi_rolling .slick-dots {
  position: absolute;
  bottom: -50px;
  width:100%;
  text-align: center;
}
.multi_rolling .slick-dots li {
  display: inline-block;
}
.multi_rolling .slick-dots li button {
  width:10px;
  height: 10px;
  background: #a9c400;
  border: none;
  text-indent: -999999px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 5px;
}
.multi_rolling .slick-dots li.slick-active button {
  background:#eeff82;
}
/* 서브슬라이드10개 크기와 투명도 조절하기 */
.multi_rolling .slick-slide {
  opacity: 0.6;
  transform: scale(0.85);
  transition: all 0.5s;
}
.multi_rolling .slick-slide.slick-active {
  opacity: 1;
}
.multi_rolling .slick-slide.slick-active.slick-current {
  /* opacity: 1; */
  transform: scale(1);
}
.multi_rolling img {border: 1px solid #a9c400;}



/* 서브슬라이드 렌더링 아베아 시작 */
.multi_rolling2 {
  padding: 50px 0px;
  position: relative;
}
.multi_rolling2 h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  color:#a9c400;
}
.multi_rolling2 img {
  width:100%;
  padding: 0 5px;
}
/* 서브슬라이드 양쪽화살표버튼 스타일잡기 */ 
.multi_rolling2 .marrow {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 50px;
  color:#a9c400;
}
.multi_rolling2 .prevArrow { left: -40px; z-index: 99999999;}
.multi_rolling2 .nextArrow {right: -40px;}

/* 서브슬라이드 슬릭->슬라이드 번호버튼 스타일잡기 */
.multi_rolling2 .slick-dots {
  position: absolute;
  bottom: -50px;
  width:100%;
  text-align: center;
}
.multi_rolling2 .slick-dots li {
  display: inline-block;
}
.multi_rolling2 .slick-dots li button {
  width:10px;
  height: 10px;
  background: #a9c400;
  border: none;
  text-indent: -999999px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 5px;
}
.multi_rolling2 .slick-dots li.slick-active button {
  background:#eeff82;
}
/* 서브슬라이드10개 크기와 투명도 조절하기 */
.multi_rolling2 .slick-slide {
  opacity: 0.6;
  transform: scale(0.85);
  transition: all 0.5s;
}
.multi_rolling2 .slick-slide.slick-active {
  opacity: 1;
}
.multi_rolling2 .slick-slide.slick-active.slick-current {
  /* opacity: 1; */
  transform: scale(1);
}
.multi_rolling2 img {border: 1px solid #a9c400;}


/* 서브슬라이드 홈페이지 시작 */
.multi_rolling3 {
  padding: 50px 0px;
  position: relative;
}
.multi_rolling3 h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 30px;
  color:#a9c400;
}
.multi_rolling3 img {
  width:100%;
  padding: 0 5px;
}
/* 서브슬라이드 양쪽화살표버튼 스타일잡기 */ 
.multi_rolling3 .marrow {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 50px;
  color:#a9c400;
}
.multi_rolling3 .prevArrow { left: -40px; z-index: 99999999;}
.multi_rolling3 .nextArrow {right: -40px;}

/* 서브슬라이드3 슬릭->슬라이드 번호버튼 스타일잡기 */
.multi_rolling3 .slick-dots {
  position: absolute;
  bottom: -50px;
  width:100%;
  text-align: center;
}
.multi_rolling3 .slick-dots li {
  display: inline-block;
}
.multi_rolling3 .slick-dots li button {
  width:10px;
  height: 10px;
  background: #a9c400;
  border: none;
  text-indent: -999999px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 5px;
}
.multi_rolling3 .slick-dots li.slick-active button {
  background:#eeff82;
}

/* 마지막부분contact */
#contact {overflow: hidden;}

  .contact  .text {
    color:#a9c400;  text-align:right; 
    padding: 30px; 
  }
  .contact  .text  p:nth-child(1) { font-size:80px;
    letter-spacing:0px; font-family: 'Pacifico';
   }
   .contact  .text  p:nth-child(2) { font-size:80px;
    letter-spacing:0px; font-family: 'Pacifico';
   }
   .contact  .text  p:nth-child(3) {  font-size:40px;
    letter-spacing:0px; font-family: 'Pacifico';
    color:#999;  margin-bottom: 30px;
  }
    .contact  .text  p:nth-child(4) {  font-size:40px;
      letter-spacing:0px; font-family: 'Pacifico';
      color:#999; margin-top: 30px;
    }
  /*컨텍트 텍스트애니메이션 효과주기 */
  .contact .text p:nth-child(1) { 
    animation: bounceInDown 1s both 1s;}
  .contact .text p:nth-child(2) { 
    animation: bounceInUp 1s both 1s;}
  .contact .text p:nth-child(3) { 
    animation: fadeInRight 1s both 1s;}

/* 컨텍트 부분에 스크롤애니메이션주기*/
   .contact text {
      -webkit-transform: translate3d(200%, 0, 0);
      transform: translate3d(200%, 0, 0);
      width:30%; }

   .contact.on .text p:nth-child(1){
      animation: fadeInRight 1s both 0.5s;
    }
    .contact.on .text p:nth-child(2){
      animation: fadeInLeftBig 1s both 0.5s;
    }
    .contact.on .text p:nth-child(3){
      animation: fadeInUp 1s both 0.5s;
    }
    .contact.on .text p:nth-child(4){
      animation: fadeInUp 1s both 0.5s;
    }
    .contact img {
      border-radius: 10px;
    }



  .blind {
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

.closeMOgnb {display:none;}
.openMOgnb {display: none;}

