@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Kodchasan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Be+Vietnam:400,500,600,700|Noto+Serif+KR:300,400|Pacifico&display=swap&subset=korean');

*{margin: 0; padding: 0; box-sizing: border-box; border: 0px solid #f00;}
a {color:inherit; text-decoration: none; }
ol, ul {list-style-type: none;}
table {width: 100%; border-collapse:collapse; table-layout: fixed;}
.cf:after, .cf:before {content: ""; display: block; clear: both;}
header, section {display: block;}
html { height:100%; }

body { font-family:"Malgun Gothic", "맑은 고딕", sans-serif; font-size:16px; color:#444; height:100%;
  letter-spacing:-1px }
.row { max-width:1200px; margin:0 auto }

/* 시작 */
.openMOgnb, .closeMOgnb { display:none }
#wrap { position:relative }
#header {  background:rgba(0,0,0,0.5); color:#fff; 
  height:116px; width: 100%; 
  top:0;  left:0; z-index:99999  }
#header  h1  {float:left;font-family: 'Pacifico';
  font-size:25px; color:#fff;  padding:30px 0px 43px;
  letter-spacing: 5px; color:#eeff82;}

#header .header_cont { float:right; width:600px;}

.depth1 { text-align:right;  font-family: 'Pacifico';}
.depth1 > li { display:inline-block; 
  font-size:25px; color:#fff;  padding:30px 40px 43px;}
.depth1 > li:last-child { padding-right:0px }

.dep2box { position:absolute; left:0; width:100%; 
  background:#a9c400; z-index:100;
  top:116px; display:none;  text-align:left; 
  font-size: 16px;
  opacity: 0.7;}
/* .depth1 > li:hover  .dep2box { display:block } */
.depth2 > li { display:inline-block; padding:15px;  color:#fff;}
.depth1 > li:nth-child(1)  .depth2 { 
  padding-left:0px }
.depth1 > li:nth-child(2)  .depth2 { padding-left:750px }
.depth1 > li:nth-child(3)  .depth2 { padding-left:890px }
.depth1 > li:nth-child(4)  .depth2 { padding-left:1120px }
.depth1 > li:nth-child(4)  .depth2 > li { padding-right:0 }

/* CONTAINER 시작 */
/* 인트로 메인박스 */
.slide {  background-repeat:no-repeat;
background-size:cover; height:950px;  
background-position:center; position:relative; }
.slide1 { 
  background-image:url(../img/slider2.jpg); 
  width:80%;
  margin: 0 auto;
  height: 750px;
  opacity: 0.8;
  /* position:absolute; top:50%; left:50%; 
  transform:translate(-50%, -50%);  */
}
.slide  .text {
  position: relative; top:50%; left:50%; 
  transform:translate(-50%, -50%); 
  color:#fff;  text-align:left; 
}
.slide  .text  p:nth-child(1) { font-size:60px;
  text-shadow:2px 2px 5px rgb(167, 167, 167); 
  color:#a9c400;
 }
.slide  .text  p:nth-child(2) { font-size:80px;
  letter-spacing:0px; text-shadow:2px 2px 5px rgb(167, 167, 167); 
 }
 .slide  .text  p:nth-child(3) { font-size:80px;
  letter-spacing:0px; text-shadow:2px 2px 5px rgb(167, 167, 167); 
 }
.slide  .text  p:nth-child(4) { font-size:18px; 
  top:180px; color:#000; text-align: left; position: relative;}
.slide  .text  p:nth-child(5) { font-size:18px; 
  top:180px; color:#000;  text-align: left; position: relative;}
.slide  .text  p:nth-child(6) { font-size:18px; 
 top:180px; color:#000; text-align: left; position: relative;}
/* .slide2,  .slide3 { display:none } * 제이쿼리소스로할거라서 주석처리*/

/* 인트로에 텍스트애니메이션 효과주기 */
.slide .text p:nth-child(2) { 
  animation: bounceInDown 1s both 0.5s;}
.slide .text p:nth-child(3) { 
  animation: bounceInUp 1s both 1s;}
.slide .text p:nth-child(4) { 
  animation: fadeInRight 1s both 1.5s;}
.slide .text p:nth-child(5) { 
    animation: fadeInRight 1s both 1.5s;}
.slide .text p:nth-child(6) { 
    animation: fadeInRight 1s both 1.5s;}

/* 어바웃시작 */
.about .about_b {
  margin-top: 70px;
  background:#a9c400;
  opacity: 0.3;
  widows: 500px;
  height: 500px;
}


/* 서브슬라이드10개시작 */
.multi_rolling {
  padding: 50px 0px;
  position: relative;
}
.multi_rolling h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  color:#a9c400;
}
.multi_rolling img {
  width:100%;
  padding: 0 5px;
}
/* 서브슬라이드 양쪽화살표버튼 스타일잡기 */ 
.multi_rolling .marrow {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 50px;
  color:#a9c400;
}
.multi_rolling .prevArrow { left: -40px; z-index: 99999999;}
.multi_rolling .nextArrow {right: -40px;}

/* 서브슬라이드 슬릭->슬라이드 번호버튼 스타일잡기 */
.multi_rolling .slick-dots {
  position: absolute;
  bottom: -50px;
  width:100%;
  text-align: center;
}
.multi_rolling .slick-dots li {
  display: inline-block;
}
.multi_rolling .slick-dots li button {
  width:10px;
  height: 10px;
  background: #a9c400;
  border: none;
  text-indent: -999999px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 5px;
}
.multi_rolling .slick-dots li.slick-active button {
  background:#eeff82;
}


/* 서브슬라이드 렌더링 아베아 시작 */
.multi_rolling2 {
  padding: 50px 0px;
  position: relative;
}
.multi_rolling2 h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  color:#a9c400;
}
.multi_rolling2 img {
  width:100%;
  padding: 0 5px;
}
/* 서브슬라이드 양쪽화살표버튼 스타일잡기 */ 
.multi_rolling2 .marrow {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 50px;
  color:#a9c400;
}
.multi_rolling2 .prevArrow { left: -40px; z-index: 99999999;}
.multi_rolling2 .nextArrow {right: -40px;}

/* 서브슬라이드 슬릭->슬라이드 번호버튼 스타일잡기 */
.multi_rolling2 .slick-dots {
  position: absolute;
  bottom: -50px;
  width:100%;
  text-align: center;
}
.multi_rolling2 .slick-dots li {
  display: inline-block;
}
.multi_rolling2 .slick-dots li button {
  width:10px;
  height: 10px;
  background: #a9c400;
  border: none;
  text-indent: -999999px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 5px;
}
.multi_rolling2 .slick-dots li.slick-active button {
  background:#eeff82;
}


/* 서브슬라이드 홈페이지 시작 */
.multi_rolling3 {
  padding: 50px 0px;
  position: relative;
}
.multi_rolling3 h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 40px;
  color:#a9c400;
}
.multi_rolling3 img {
  width:100%;
  padding: 0 5px;
}
/* 서브슬라이드 양쪽화살표버튼 스타일잡기 */ 
.multi_rolling3 .marrow {
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 50px;
  color:#a9c400;
}
.multi_rolling3 .prevArrow { left: -40px; z-index: 99999999;}
.multi_rolling3 .nextArrow {right: -40px;}

/* 서브슬라이드 슬릭->슬라이드 번호버튼 스타일잡기 */
.multi_rolling3 .slick-dots {
  position: absolute;
  bottom: -50px;
  width:100%;
  text-align: center;
}
.multi_rolling3 .slick-dots li {
  display: inline-block;
}
.multi_rolling3 .slick-dots li button {
  width:10px;
  height: 10px;
  background: #a9c400;
  border: none;
  text-indent: -999999px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 5px;
}
.multi_rolling3 .slick-dots li.slick-active button {
  background:#eeff82;
}








  .blind {
    font-size: 0;
    width: 0;
    height: 0;
    line-height: 0;
    text-indent: -9999px;
    overflow: hidden;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

.closeMOgnb {display:none;}
.openMOgnb {display: none;}

/* 사진을 누르면 새로 창나오는 팝업박스 만들기 */
.popupBox {display: none;}
/* 팝업박스에 on이 붙으면 출력됨 */
.popupBox.on {
  display: block;
  position: absolute;
  top:0;
  left: 0;
  height: 200%;
  right: 0;
  z-index: 999999999999999999999;
}
.popupBox.on .inner {
  position: absolute;
  top:1000px;
  left: 50%;
  transform: translate(-50%);
  background: #ff889e;
  text-align: center;
  padding: 20px;
}
.popupBox.on button {
  font-size: 40px;
  color:#ff889e;
  position: absolute;
  top:-35px;
  right: -35px;
  background: none;
  border: none;
}

/* 사진을 누르면 새로 창나오는 팝업박스2 만들기 */
.popupBox2 {display: none;}
/* 팝업박스에 on이 붙으면 출력됨 */
.popupBox2.on {
  display: block;
  position: absolute;
  top:0;
  left: 0;
  height: 200%;
  right: 0;
  z-index: 999999999999999999999;
}
.popupBox2.on .inner {
  position: absolute;
  top:1520px;
  left: 50%;
  transform: translate(-50%);
  background: #ff889e;
  text-align: center;
  padding: 20px;
}
.popupBox2.on button {
  font-size: 40px;
  color:#ff889e;
  position: absolute;
  top:-35px;
  right: -35px;
  background: none;
  border: none;
}
